.about-container {
    text-align: center;
    transform: translate(0, 500%);
    height: 100%;
    margin: 0 auto;
}

.basic-image {
    background-image: url("../../assets/images/space.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: background-image 1s ease-in-out, opacity 1s ease-in-out;

  }

  .about-name-text {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .about-button {
    text-align: center;
    background-color: #EF233C;
    color: white;
    padding: 10px 24px;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
  }