.Basic {
    text-align: left;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
  
  .left, .right {
    padding: 20px;
    box-sizing: border-box;
  }
  
  .left {
    text-align: left;
  }
  
  .right {
    text-align: left;
  }
  
  .subtitle {
    text-align: center;
  }
  
  .radio-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start; 
      margin-left: 50px; 
    }
  
    .radio-text {
      font-size: 12px;
      margin-left: 10px;
    }
    
    .radio-container {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      position: relative;
      cursor: pointer;
      font-size: 16px;
    }
    
    .radio-container input[type="radio"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    
    .radio-custom {
      position: relative;
      height: 20px;
      width: 20px;
      background-color: #ccc;
      border-radius: 50%;
      display: inline-block;
      margin-right: 10px;
      cursor: pointer;
    }
    
    .radio-container input[type="radio"]:checked + .radio-custom {
      background-color: #2196F3; 
    }
    
    .radio-custom::after {
      content: "";
      position: absolute;
      display: none;
    }
    
    .radio-container input[type="radio"]:checked + .radio-custom::after {
      display: block;
    }
    
    .radio-container .radio-custom::after {
      top: 50%;
      left: 50%;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: white;
      transform: translate(-50%, -50%);
    }
    
    .questionText {
      font-size: 110%;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: normal;
      padding: 10px;
      text-align: left;
    }
  
    .input-box {
      width: 100%; 
      max-width: 100%; 
      padding: 10px 15px;
      font-size: 12px;
      border: 1px solid #ccc; 
      border-radius: 5px; 
      outline: none;
      transition: border-color 0.3s ease; 
  }
  
  .input-box:focus {
      border-color: #007BFF;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  }
  
  .responses {
    text-align: center;
  }
  
  .submit-button {
    position: relative;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  