.career-quiz {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    font-family: Arial, sans-serif;
  }

  .basic-image {
    background-image: url("../../assets/images/earthimage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: background-image 1s ease-in-out, opacity 1s ease-in-out;

  }

  .title2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .question {
    margin-bottom: 30px;
  }
  
  .question-text {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .emoji-options {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  
  .emoji-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .emoji {
    font-size: 2rem;
    margin-bottom: 5px;
  }
  
  .emoji-text {
    font-size: 0.9rem;
  }
  
  .radio-container input[type="radio"] {
    margin-bottom: 5px;
    cursor: pointer;
    appearance: none;
  }
  
  .radio-container input[type="radio"]:checked + .emoji {
    border: 2px solid #007bff;
    border-radius: 50%;
  }
  
  .submit-button {
    position: relative;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .rocket-container-basic {
    position: absolute;
    left: 80%;
    height: 30%;
    width:50%;
    top: 20%;
}

.rocket-image-basic {
  background-image: url("../../assets/images/rocket.png");
background-size: contain;
background-repeat: no-repeat;
background-color: transparent;
height: 50%;
}