.Footer {
    text-align: center;
}

.Footer-API {
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 60px;
    white-space: nowrap;
    position: bottom;
    min-height: 40vh;
}