
.title1 {
    font-weight: bold;
    color: #EDF2F4;
    margin-top: 20px;
    font-size: 50px ;
}


.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 21%;
    width: 50%;
    margin: 0 auto;
}

.right1 {
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}
