.results2-background {
    background-color: #231f20;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .mercury, .sun, .earth, .jupiter, .mars, .neptune, .saturn, .uranus, .venus {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: center;
  }

  .sun {
    background-image: url("../../assets/images/planets/sun.png");
    transform: scale(0.3);
    left: 6.5%;
    bottom: -2%; 
  }

  .jupiter {
    background-image: url("../../assets/images/planets/jupiter.png");
    transform: translate(10%, -42%) scale(0.2);
  }

  .saturn {
    background-image: url("../../assets/images/planets/saturn.png");
    transform: translate(-9%, 23%) scale(0.18);
  }

  .uranus {
    background-image: url("../../assets/images/planets/uranus.png");
    transform: translate(-15%, -28%) scale(0.18);
  }

  .neptune {
    background-image: url("../../assets/images/planets/neptune.png");
    transform: translate(20%, 20%) scale(0.165);
  }

  .earth {
    background-image: url("../../assets/images/planets/earth.png");
    transform: translate(30%, -30%) scale(0.16);
  }

  .venus {
    background-image: url("../../assets/images/planets/venus.png");
    transform: translate(-30%, 0%) scale(0.16);
  }

  .mars {
    background-image: url("../../assets/images/planets/mars.png");
    transform: translate(-30%, -10%) scale(0.155);
  }

  .mercury {
    background-image: url("../../assets/images/planets/mercury.png");
    transform: translate(30%, 0%) scale(0.15);
  }

  .sun:hover {
    filter: brightness(120%);
  }