.Results {
    text-align: center;
    overflow: hidden;
    display: relative;
}

.results-image {
    background-image: url("../../assets/images/earthimage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  }

.title-Results {
    font-weight: bold;
    padding: 20px;
}

.results-container {
    position: relative;
    height: 100vh;
    width: 35%;
    margin: 0 auto;
    bottom: 20px;
}

.results-content {
    font-weight: none;
    font-size: 22px;
}

.rocket-container-results {
    position: absolute;
    left: 87%;
    height: 30%;
    width:50%;
    top: 77%;
  }
  
  .rocket-image-results {
  background-image: url("../../assets/images/rocket.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 50%;
  }